.log
.DS_Store
.jest-*
lib
node_modules

dist
# build
tsconfig.tsbuildinfo

*.log

assets

addCopyright.mjs
# tsconfig.package.mjs

tsconfig.build.tsbuildinfo
*.tsbuildinfo
**/*.tsbuildinfo

package.json.bac*

yarn.lock

ignore-*